.order-container {
  width: 80%;
  margin: 110px auto;
}
.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.refresh-btn {
  margin-top: 20px;
  background-color: rgb(40, 170, 127);
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 95px;
}
.ongo-order-sec {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding-top: 30px;
}
.stepper {
  width: 20%;
  margin-top: -10px;
  border-right: 1px solid #cccccc;
}
.order-sec {
  padding-left: 55px;
  width: 80%;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: #21ce86 !important;
}
.MuiStepIcon-root.MuiStepIcon-active {
  color: #80849a !important;
}

.MuiAppBar-colorPrimary {
  background-color: #414248 !important;
}

@media (max-width: 768px) {
  .ongo-order-sec {
    display: flex;
    flex-direction: column;
  }
  .stepper {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #cccccc;
  }
  .order-sec {
    padding-left: 0px;
    width: 100%;
  }
}
